body
{
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  color: MenuText;
  background-color: Menu;
  user-select: none;
}

ul a
{
  display: block;
  text-decoration: none;
  padding: 8px 0 8px 16px;
}

ul > li.active
{
  cursor: pointer;
}

ul > li.active:hover
{
  color: white;
  background-color: Highlight;
}

ul > li.inactive {
  color: InactiveCaptionText;
}

ul > li img
{
  padding-right: 10px;
}

ul > li img.hover
{
  display: none;
}

ul > li img.nohover
{
  display: inline;
}

ul > li:hover img.hover
{
  display: inline;
}

ul > li:hover img.nohover
{
  display: none;
}
